<visicutPreferences>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <windowBounds>
    <x>-96</x>
    <y>222</y>
    <width>1792</width>
    <height>849</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>C:\Users\reprap\Documents\Pruebas\Papel\vectorized_fretwork_pattern.svg</string>
    <string>D:\pruebas-ignis\Papel\arbol de crisma\Foliage-1.svg</string>
    <string>D:\pruebas-ignis\Papel\vectorized_fretwork_pattern.svg</string>
    <string>C:\Users\LABORATORIO\.visicut\examples\block.svg</string>
    <string>D:\pruebas-ignis\formatos\pruebacolores.svg</string>
  </recentFiles>
  <lastMaterial>Madera</lastMaterial>
  <lastLaserDevice>BCN3D IGNIS</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
</visicutPreferences>